<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PeaceTure Photography</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="https://toogood.netlify.app/bg.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <div class="navbar-logo">
            <a href="/"><img src="/images/1-modified.png" alt=""></a>
        </div>
        <ul class="navbar-menu">
            <li>
                <a class="<%= active === 'about' ? 'active' : '' %>" href="/about">About</a>
            </li>
            <li>
                <a class="<%= active === 'portfolio' ? 'active' : '' %>" href="/portfolio">Portfolio</a>
            </li>
            <li>
                <a class="<%= active === 'submit' ? 'active' : '' %>" href="/submit">Submit</a>
            </li>
            <li>
                <a class="<%= active === 'images' ? 'active' : '' %>" href="/images">Images</a>
            </li>
            <li>
                <a class="<%= active === 'posts' ? 'active' : '' %>" href="/posts">Posts</a>
            </li>
            <li>
                <a class="<%= active === 'contact' ? 'active' : '' %>" href="/contact">Contact</a>
            </li>
          </ul>
    </nav>